<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="LASE">
        <wb-resource deploy-path="/" source-path="/WebContent"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/data" source-path="/data"/>
        <wb-resource deploy-path="/morphology" source-path="/morphology"/>
        <wb-resource deploy-path="/plugins" source-path="/plugins"/>
        <wb-resource deploy-path="/WEB-INF/lib/morphology" source-path="/lib/morphology"/>
        <property name="context-root" value="LASE"/>
        <property name="java-output-path" value="/LASE/build/classes"/>
    </wb-module>
</project-modules>
