@media projection, screen {

	/* Toggler - default style */
	.toggler, .toggler_grey {
	    margin:25px 0px;
		cursor:pointer;
		font-size: 140%;
		text-decoration: none;
		line-height:36px;
		display: block;
	}

	.toggler-closed,
	.toggler_grey-closed
	 {
		color:#333;
		padding-left:20px;
		height:36px;
		border: solid 1px white;
	}
	.toggler-closed {
		background: #e9f5fe url("../img/bg_blue.gif")
	}
	.toggler_grey-closed {
		background: #e9e9e9 url("../img/bg_grey.gif")
	}

	.toggler-closed:hover,
	.toggler_grey-closed:hover {
		color: #000;
		padding-left:20px;
		height:36px;
		background: #e9f5fe url('../img/togglerc.gif') center right no-repeat;
		border: solid 1px #e3e3e3;
	}
	.toggler_grey-closed:hover {
		background: #e9e9e9 url('../img/togglerc.gif') center right no-repeat;
	}

	.toggler-opened,
	.toggler-opened:hover,
	.toggler_grey-opened,
	.toggler_grey-opened:hover {
		color:#333;
		padding-left:20px;
		height:36px;
		border: solid 1px white;
	}

	.toggler-opened,
	.toggler-opened:hover
	 {
		background: #c4eff5 url('../img/togglero.gif') center right no-repeat;
	 }

	.toggler_grey-opened,
	.toggler_grey-opened:hover
	 {
		background: #c5c9cb url('../img/togglero.gif') center right no-repeat;
	 }


	.searchers,
	.searchers-closed,
	.searchers-opened{
		background: #fff url("../img/searchers.gif") top left no-repeat;
		height: 50px;
		margin:25px 0px;
		cursor:pointer;;
		text-decoration: none;
		display: block;
		color:#333;
		padding-left:20px;
		border: solid 1px white;
	}

	.searchers-closed:hover,
	.searchers-opened:hover{
		border: solid 1px #c5c9cb;
	}

	/* Container - default style */
	.toggler-c,
	.toggler_grey-c {
	}
	.toggler-c-closed,
	.toggler_grey-c-closed  {
	   background:transparent;
	   border:solid 1px #e3e3e3;
	   margin:-25px 0px 25px 0px;
	   padding:20px;
	}
	.toggler-c-opened,
	.toggler_grey-c-opened {
	   margin:-25px 0px 25px 0px;
	   padding:20px;
	   background:#efefef;
	   border:solid 1px #fff;
	}

}

/* Print -------------------------------------------------------------------- */
@media print {

	.toggler-c { margin-bottom:25px; }
	.toggler_grey-c { margin-bottom:25px; }
	.toggler { display: none; }
	.toggler_grey { display: none; }

}